{%  include "header.html" %}

<div class="view-wrapper">
    <!-- Container -->
    <div class="container is-custom">
        <!-- Profile page main wrapper -->
        <div id="profile-main" class="view-wrap is-headless">
            <div class="columns is-multiline no-margin">
                <!-- Left side column -->
                <div class="column is-paddingless">
                    <!-- Timeline Header -->
                    <!-- html/partials/pages/profile/timeline/timeline-header.html -->
                    <div class="cover-bg">
                        <img
                                class="cover-image"
                                src="https://via.placeholder.com/1600x460"
                                data-demo-src="{{ url_for('static', filename='assets/img/demo/bg/4.png') }}"
                                alt=""
                        />
                        <div class="avatar" style="background-color: white">
                            <img
                                    id="user-avatar"
                                    class="avatar-image"
                                    {% if profile_pic =="" %}
                                        data-demo-src="{{ url_for('static', filename='assets/img/users/'+ user_id|user_image_id +'.png') }}"
                                    {% else %}
                                        data-demo-src="{{ profile_pic }}"
                                    {% endif %}
                                    alt=""

                            />

                            {% if logged_id != user_id %}
                            <div class="avatar-button">
                                <i data-feather="plus"></i>
                            </div>
                            <div
                                    id="follow-pop"
                                    class="pop-button pop-shift is-left has-tooltip"
                                    data-placement="top"
                                    data-title="Follow"
                            >
                                <a class="inner" id="follow" res="{{ user_id }}">
                                    {% if is_following %}
                                    <i class="active-icon" data-feather="bell" status="{{ is_following  }}"></i>
                                    <i class="inactive-icon" data-feather="bell-off"
                                       status="{{ not is_following  }}"></i>
                                    {% else %}
                                    <i class="inactive-icon" data-feather="bell" status="{{ not is_following  }}"></i>
                                    <i class="active-icon" data-feather="bell-off" status="{{ is_following  }}"></i>
                                    {% endif %}
                                </a>
                            </div>
                            {% endif %}

                        </div>
                        <div class="cover-overlay"></div>
                        <!--
                      <div class="cover-edit modal-trigger" data-modal="change-cover-modal">
                        <i class="mdi mdi-camera"></i>
                        <span>Edit cover image</span>
                      </div>
                        -->
                        <!--/html/partials/pages/profile/timeline/dropdowns/timeline-mobile-dropdown.html-->
                        <div
                                class="dropdown is-spaced is-right is-accent dropdown-trigger timeline-mobile-dropdown is-hidden-desktop"
                        >
                            <div>
                                <div class="button">
                                    <i data-feather="more-vertical"></i>
                                </div>
                            </div>
                            <div class="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="/profile-main.html" class="dropdown-item">
                                        <div class="media">
                                            <i data-feather="activity"></i>
                                            <div class="media-content">
                                                <h3>Timeline</h3>
                                                <small>Open Timeline.</small>
                                            </div>
                                        </div>
                                    </a>
                                    <!--<a href="/profile-friends.html" class="dropdown-item">
                                        <div class="media">
                                            <i data-feather="heart"></i>
                                            <div class="media-content">
                                                <h3>Friends</h3>
                                                <small>See friends.</small>
                                            </div>
                                        </div>
                                    </a>-->
                                    <a href="/profile-photos.html" class="dropdown-item">
                                        <div class="media">
                                            <i data-feather="image"></i>
                                            <div class="media-content">
                                                <h3>Photos</h3>
                                                <small>See all photos.</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="profile-menu is-hidden-mobile">
                        <div class="menu-start">
                            <a href="/{{exp_id}}/{{ url_for('main.feeed_logged')}}/{{ user['user_data']['id'] }}/feeds/rf/1"
                               class="button has-min-width">Feeds</a>
                        </div>
                        <div class="menu-end">
                            <a
                                    id="profile-friends-link"
                                    href="/{{exp_id}}/friends/{{ user_id }}/1"
                                    class="button has-min-width"
                            >Contacts</a
                            >
                        </div>
                    </div>

                    <div class="profile-subheader">
                        <div class="subheader-start is-hidden-mobile">
                            <span>{{ user['total_followers']}}</span>
                            <span>Followers</span>
                        </div>

                        <div class="subheader-middle">
                            <h2>{{ user["user_data"]["username"] }}</h2>
                        </div>


                        <div class="subheader-end is-hidden-mobile">
                            {% if is_page != 1 %}
                            <span>{{ user['total_followee']}}</span>
                            <span>Followee</span>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>

            <div class="columns">

                <div id="profile-timeline-widgets" class="column is-4">
                    <!-- Basic Infos widget -->
                    <!-- html/partials/pages/profile/timeline/widgets/basic-infos-widget.html -->
                    {% if is_page != 1 %}
                    <div class="box-heading">
                        <h4>About Me</h4>
                    </div>

                    <div class="basic-infos-wrapper">
                        <div class="card is-profile-info">
                            <div class="info-row">
                                <div>
                                    <span>Age</span>
                                    <a class="is-inverted">{{user["user_data"]["age"]}}</a>
                                </div>
                                <i class="mdi mdi-clock"></i>
                            </div>
                            <div class="info-row">
                                <div>
                                    <span>Gender</span>
                                    <a class="is-inverted">{{user["user_data"]["gender"]}}</a>
                                </div>
                                <i class="mdi mdi-gender-transgender"></i>
                            </div>
                            <div class="info-row">
                                <div>
                                    <span>Nationality</span>
                                    <a class="is-inverted">{{user["user_data"]["nationality"]}}</a>
                                </div>
                                <i class="mdi mdi-earth"></i>
                            </div>
                            <div class="info-row">
                                <div>
                                    <span>Spoken Languages</span>
                                    <a class="is-inverted">{{user["user_data"]["language"].replace("|", ", ")}}</a>
                                </div>
                                <i class="mdi mdi-spellcheck"></i>
                            </div>
                            <div class="info-row">
                                <div>
                                    <span>Education</span>
                                    <a class="is-inverted">{{user["user_data"]["education_level"]}}</a>
                                </div>
                                <i class="mdi mdi-school"></i>
                            </div>
                            <div class="info-row">
                                <div>
                                    <span>Profession</span>
                                    <a class="is-muted">{{user["user_data"].profession}}</a>
                                </div>
                                <i class="mdi mdi mdi-chart-pie"></i>
                            </div>
                            <div class="info-row">
                                <div>
                                    <span>Political Leaning</span>
                                    <a class="is-muted">{{user["user_data"]["leaning"]}}</a>
                                </div>
                                <i class="mdi mdi-lightbulb-outline"></i>
                            </div>
                            <div class="info-row">
                                <div>
                                    <span>Interested in</span>
                                    {% for interest in interests %}
                                    <a href="/{{exp_id}}/interest/{{ interest[1] }}/1" class="is-muted"> {{ interest[0] }} ({{
                                        interest[2] }}) </a>
                                    {% endfor %}
                                </div>
                                <i class="mdi mdi-heart"></i>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Star friends widget -->
                    <!-- html/partials/pages/profile/timeline/widgets/star-friends-widget.html -->
                    {% if username != logged_username and is_page!=1 %}
                    <div class="box-heading">
                        <h4>Mutual Friends</h4>
                        <div class="dropdown is-neutral is-spaced is-right dropdown-trigger">
                            <div>
                                <div class="button">
                                    <i data-feather="more-vertical"></i>
                                </div>
                            </div>
                            <div class="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a class="dropdown-item">
                                        <div class="media">
                                            <i data-feather="users"></i>
                                            <div class="media-content">
                                                <h3>All Friends</h3>
                                                <small>View all friends.</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="friend-cards-list">
                        <div class="card is-friend-card">

                            {% for suser in mutual %}
                            <div class="friend-item">
                                <img
                                        {% if profile_pic =="" %}
                                            data-demo-src="{{ url_for('static', filename='assets/img/users/'+ user_id|user_image_id +'.png') }}"
                                        {% else %}
                                            data-demo-src="{{ profile_pic }}"
                                        {% endif %}
                                         alt=""
                                        data-user-popover="1"
                                />
                                <div class="text-content">
                                    <a href="/{{exp_id}}/profile/{{ suser['id'] }}/recent/1">{{ suser['username'] }}</a>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    {% endif %}

                    <!-- Star Hashtags widget -->
                    <!-- html/partials/pages/profile/timeline/widgets/star-friends-widget.html -->
                    {% if len(hashtags) > 0 %}
                    <div class="box-heading">
                        <h4>Frequently used Hashtags</h4>
                        <div class="dropdown is-neutral is-spaced is-right dropdown-trigger">
                            <div>
                                <!-- <div class="button">
                                    <i data-feather="more-vertical"></i>
                                </div> -->
                            </div>
                            <!-- <div class="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a class="dropdown-item">
                                        <div class="media">
                                            <i data-feather="users"></i>
                                            <div class="media-content">
                                                <h3>All Hashtags</h3>
                                                <small>View all hashtags.</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="friend-cards-list">

                        <div class="card">

                            <div class="card-body no-padding">
                                <!-- Hashtag block -->
                                {% for ht in hashtags %}
                                <div class="story-block">
                                    <div class="story-meta">
                                        <span><a href="/{{exp_id}}/hashtag_posts/{{ ht['id'] }}/1">{{ ht['hashtag'] }}</a></span>
                                        <span>({{ ht['count'] }})</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="column is-8">
                    <div id="profile-timeline-posts" class="box-heading">
                        <h4>Activity</h4>
                        <div class="button-wrap">


                            <button type="button" class="button {% if mode == 'recent' %}is-active{% endif %}"
                                    onclick="window.location.href = '/{{exp_id}}/profile/{{ user['user_data']['id'] }}/recent/1';">
                                Posts
                            </button>
                            {% if is_page != 1 %}
                            <button type="button" class="button {% if mode == 'comments' %}is-active{% endif %}"
                                    onclick="window.location.href = '/{{exp_id}}/profile/{{ user['user_data']['id'] }}/comments/1';">
                                Comments
                            </button>
                            <button type="button" class="button {% if mode == 'shares' %}is-active{% endif %}"
                                    onclick="window.location.href = '/{{exp_id}}/profile/{{ user['user_data']['id'] }}/shares/1';">
                                Shares
                            </button>
                            <button type="button" class="button {% if mode == 'liked' %}is-active{% endif %}"
                                    onclick="window.location.href = '/{{ exp_id }}/profile/{{ user['user_data']['id'] }}/liked/1';">
                                Likes
                            </button>
                            <button type="button" class="button {% if mode == 'disliked' %}is-active{% endif %}"
                                    onclick="window.location.href = '/{{exp_id}}/profile/{{ user['user_data']['id'] }}/disliked/1';">
                                Dilikes
                            </button>
                            {% endif %}

                        </div>
                    </div>

                    <div class="profile-timeline" id="posts-container">
                        <!-- Timeline post 1 -->
                        <!-- html/partials/pages/profile/posts/timeline-post1.html -->
                        <!-- Timeline POST #1 -->

                        {% include "components/posts.html" %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /Profile page main wrapper -->
    </div>
    <!-- /Container -->
</div>

<!-- Experiment context -->
<script>
    window.EXP_ID = {{ exp_id if exp_id else 'null' }};
    window.EXP_PREFIX = window.EXP_ID ? '/' + window.EXP_ID : '';
</script>

<!-- Concatenated js plugins and jQuery -->
<script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
<script src="https://js.stripe.com/v3/"></script>

<!-- Core js -->
<script src="{{ url_for('static', filename='assets/js/global.js') }}"></script>

<!-- Navigation options js -->
<script src="{{ url_for('static', filename='assets/js/navbar-v1.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/navbar-v2.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/navbar-mobile.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/navbar-options.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/sidebar-v1.js') }}"></script>

<!-- Core instance js -->
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/touch.js') }}"></script>

<!-- Components js -->

<!-- Landing page js -->

<!-- Signup page js -->

<!-- Feed pages js -->
<!-- <script src="{{ url_for('static', filename='assets/js/feed.js') }}"></script> -->

<!-- profile js -->
<script src="{{ url_for('static', filename='assets/js/profile.js') }}"></script>

<!-- stories js -->

<!-- friends js -->

<!-- questions js -->

<!-- video js -->

<!-- events js -->

<!-- news js -->

<!-- shop js -->

<!-- inbox js -->

<!-- settings js -->

<!-- map page js -->
<script src="{{ url_for('static', filename='assets/js/async_updates.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/infinite-scroll.js') }}"></script>
<script>
    // Initialize infinite scroll for profile posts
    document.addEventListener('DOMContentLoaded', function() {
        if (window.InfiniteScroll) {
            InfiniteScroll.init({
                apiEndpoint: '/{{exp_id}}/api/profile/{{user_id}}/{{mode}}',
                postsContainerId: 'posts-container',
                initialPage: {{ page }}
            });
        }
    });
</script>

<!-- elements page js -->

</body>
</html>
